* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.watchlist-container {
    height: 100vh;
    display: flex;
}

.crypto-container, .stock-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
}

.stock-container {
    width: 50%;
}

.bitcoin-container, .ethereum-container, .dxy-container, .spx-container{
    height: 50%;
    width: 100%;
    /* padding: 50px; */
}